@import '../assets/styles/variables';
@import '../assets/styles/functions';
@import '../assets/styles/mixins';

header {
    @include flex;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: size(2);
}

.main {
    display: flex;
    justify-content: center;
    padding: size(4) 0;
}
