<ng-container>
    <div class="file-uploader__container" for="fileInput">
        <div class="file-uploader__instructions">
            @if (fileStatus === FileStatusEnum.INITIAL) {
                <span class="material-symbols-outlined">cloud_upload</span>
                <label for="fileInput">Drag and drop files here or upload</label>
            } @else {
                <span class="material-symbols-outlined file-uploader--done">cloud_done</span>
                <label for="fileInput">{{ selectedFile?.name }}</label>
            }
        </div>
        <div class="file-uploader__splitter"></div>
        @if (fileStatus === FileStatusEnum.INITIAL) {
            <div class="file-uploader__input button button--upload-action" (click)="openFileSelector()">
                <input type="file" id="fileInput" name="fileInput" #fileInput (change)="onFileSelector($event)" />
                Upload
            </div>
        } @else {
            <div class="button button--confirm-action" (click)="onSubmit()">
                <span class="material-symbols-outlined">done_all</span>
                Confirm
            </div>
        }
    </div>
</ng-container>
