/**
    BUTTON
*/
.button {
    @include flex;
    padding: size(1.2) size(2.4);
    border-radius: size(1);
    border: none;
    font-family: inherit;
    font-size: size(2);

    &--action {
        @include action-button;
    }

    &--upload-action {
        @include action-button;
        border: size(.125) solid var(--third-color);

        &:hover {
            background-color: var(--soft-color);
        }
    }

    &--confirm-action {
        background-color: var(--primary-color);
        color: var(--secondary-color);

        &:hover {
            cursor: pointer;
        }
    }
}
