/**
    MIXINS
*/
@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin action-button {
    background-color: var(--third-color);
    color: var(--primary-color);
    transition: background-color .2s;

    &:hover {
        background-color: var(--secondary-color);
        cursor: pointer;
    }
}
