/**
    COLORS
*/
:root {
    --primary-color: #333;
    --secondary-color: #fff;
    --third-color: #f5a633;
    --soft-color: #fef6e9;
    --done-color: #28a745;
    --fail-color: #dc3545;
}

/**
    SIZE
*/
:root {
    --default-size: 8px;
}